<h1>Attempts > Show</h1>

<% answers = Attempt.last.answers %>

<ul>
  <% answers.each do |answer| %>
    <% question = Question.find(answer.question_id) %>
    <% margin = question.indentation * 24 %>
    <% puts margin %>
    <li align="left" style="text-align: left; margin-left: <%= margin %>px;"><%= question.text.html_safe %></li>
  <% end %>
</ul>
